body {
  background-color: #dad7cd;
}

p {
  color: #588157;
  font-family: Alagard;
  font-smooth: never; /* Disable font smoothing */
  -webkit-font-smoothing: none; /* For older versions of WebKit browsers */
  text-rendering: optimizeSpeed; /* Optimize rendering speed */
  image-rendering: pixelated; /* Maintain pixelation */
}

h1 {
  color: #344e41;
  font-family: Alagard;
  font-smooth: never; /* Disable font smoothing */
  -webkit-font-smoothing: none; /* For older versions of WebKit browsers */
  text-rendering: optimizeSpeed; /* Optimize rendering speed */
  image-rendering: pixelated; /* Maintain pixelation */
}
